.wrapper {
    background-color: #b8bcce;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.customTextArea {
    background-color: #F3E9D2;
    height: 275px;
    width: 490px;
}

.addWrapper {
    float: left;
    margin-right: 300px;
    position: relative;
    left: 50px;
    padding: 0px;
    margin: 0px;
}

.displayWrapper {
    float: right;
    margin-right: 150px;
}

.recipeDisplayBox {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 600px;
    height: 100%;
    background-color: #F3E9D2;
}

.recipeName {
    margin-bottom: 30px;
    height: 100%;
    width: 500px;
}

.ingredientAdd {
    margin-bottom: 50px;
    height: 100%;
}

.addDirections {
    margin-bottom: 50px;
    height: 100%;
}

.headers {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.pageHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}