.wrapper {
    background-color: #7180B9;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.customTextArea {
    background-color: #F3E9D2;
    height: 275px;
    width: 490px;
}

.addWrapper {
    float: left;
    margin-right: 300px;
    position: relative;
    left: 50px;
    padding: 0px;
    margin: 0px;
}

.displayWrapper {
    float: right;
    margin-right: 150px;
}

.recipeDisplayBox {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 600px;
    height: 100%;
    background-color: #F3E9D2;
}

.recipeName {
    margin-bottom: 30px;
    height: 100%;
    width: 500px;
}

.ingredientAdd {
    margin-bottom: 50px;
    height: 100%;
}

.ingredientAdd > div {
    width: 100%;
  }

.ingredientAdd .dropdown {
    width: 100%;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #7180B9;
    border: 1px solid #0F67FF;
    border-top: none;
  }

  .ingredientAdd .item.selected-item {
    background-color: #0069ff;
    color: #FAFBFC;
  }
  .ingredientAdd .item:hover {
    background-color: #0069ff;
    color: #FAFBFC;
  }

  .ingredientAdd .item  {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
  }

.addDirections {
    margin-bottom: 50px;
    height: 100%;
}
