.topleft > div {
    width: 100%;
  }
  
  .topleft input:focus {
    border-color: #0F67FF;
    box-shadow: none;
    outline: none;
  }
  
  .topleft .dropdown {
    width: 100%;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #0F67FF;
    border-top: none;
  }
  
  .topleft .item  {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
  }
  
  .topleft .item.selected-item {
    background-color: #0069ff;
    color: #FAFBFC;
  }
  
  .topleft .item:hover {
    background-color: #0069ff;
    color: #FAFBFC;
  }