.App {
  text-align: center;
}

/*column and rows*/

.searchStyle {

}
.topleft {
  grid-column: 1;
  grid-row: 1;
  border: black solid 2fr;
  width: 25%;
}
.right {
  grid-column: 2;
  grid-row: 1;
}

.App-h1 {
  text-align: center;
}

.App-recipesearch {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;

  grid-template-columns: 2fr 5fr;
  grid-template-rows: 2fr 3fr;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7CB1FF;
  border-bottom: 1px solid black;
  /*background-color: #f4f4f4;*/
}

nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 25px;
  padding:8px 16px;
  color: black;
  float: left;
}

nav a:hover {
  background-color: #E3EFFf;
}
