.App {
  background-color: #b8bcce;
}

/*column and rows*/

.App-recipesearch {
  display: grid;
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;

  grid-template-columns: 4fr 4fr;
  grid-template-rows: 3fr;
}

.topleft {
  grid-column: 1;
  grid-row: 1;
  border: black solid 2fr;
  width: 50%;
  float: left;
}
.right {
  grid-column: 2;
  grid-row: 1;
  width: 50%;
  float: right;
}

.App-h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #7CB1FF; */
  background-color: #1B2845;
  border-bottom: 1px solid black;
}

nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 25px;
  padding:8px 16px;
  color: white;
  float: left;
}

nav a:hover {
  background-color: #E3EFFf;
}
